
body {
	margin: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
	display:inline-block;
}

.extractions {
	display:block;
	width:100%;
	height:110px;
	border-style:solid;
	overflow-y:auto;
	overflow-x:hidden;
}

.subject {
	background-color: #2CA12B;
}

.predicate {
	background-color: #3F97D9;
}

.argument {
	background-color: #9464BD;
}

.source {
	background-color: rgba(242,89,13,0.7);
}

.belief {
	background-color: rgba(63,151,217,0.7);
}

.target {
	background-color: rgba(44,161,43,0.7);
}

/* Override bootstrap4 class */
.custom-select {
	width:auto !important;
}


/* Yellow highlight for visibility purposes */
.yellow-select::selection {
  background: #fff2a8;
}
.yellow-select::-moz-selection {
  background: #fff2a8;
}

.top-right {
	float:right;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.unnaproved {
	background-color: #f7ae18;
}

.editing {
	background-color: #459fd7;
}

#entry-text {
	font-size: larger;
}
