{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
{% include "annotator/includes.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'annotator/style.css' %}">

<script type="text/javascript"> 
   var db_upload_warning = "{{db_upload_warning}}".replace(/&quot;/g, '\"');
   var annotation_upload_warning = "{{annotation_upload_warning}}".replace(/&quot;/g, '\"');
   var delete_annotations_warning = "{{delete_annotations_warning}}".replace(/&quot;/g, '\"');
</script>

{% for error in errors %}
    <div class="alert alert-warning alert-dismissable fade show">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span> {{ error }} </span>
    </div>
{% endfor %}

<div>
	<form action="" method="post" enctype="multipart/form-data"
        onsubmit="return confirm(db_upload_warning)">
		{% csrf_token %}
		{{ dbForm }}
		<input class="btn btn-primary" type="submit" value="Upload" name="_db_upload"> 
	</form>

    {% include "annotator/export_button.html" %}
    <br>

    <form action="" method="post" enctype="multipart/form-data"
        onsubmit="return confirm(annotation_upload_warning)">
        {% csrf_token %}
        {{ annotationForm }}
        <input class="btn btn-primary" type="submit" value="Upload" name="_annotation_upload">
    </form>

    {% include "annotator/delete_annotations_button.html" %}

</div>


{% if entries %}
    <ol>
    {% for entry in entries %}
        <li><a href="{% url 'annotator:index' entry.eID %}">{{ entry.entry_text }} [{{ entry.annotation_set.count }}]</a></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No entries.</p>
{% endif %}
