{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'annotator/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">
	window.addEventListener('load',function() {
    	if(localStorage.getItem('scrollPosition') !== null)
       		window.scrollTo(0, localStorage.getItem('scrollPosition'));
	},false);

	function storeScrollPos() {
		localStorage.setItem('scrollPosition', window.scrollY)
	}
	function storeScrollTop() {
		localStorage.setItem('scrollPosition', 0)
	}
</script>

<div>
	<form action="change_view" method="post" onsubmit="storeScrollTop()">
	    {% csrf_token %}
		<a class="btn btn-light" href="{% url 'annotator:home' %}">Back Home</a> 
		<label> Sentence Index </label>
		<input type="number" id="sindex" name="sindex" placeholder={{entry_pk}} min=1 max={{num_entries}} required>
		<input class="btn btn-light" type="submit" value="Go">
		<a class="btn btn-light" href="{% url 'annotator:index' entry.eID|add:-1 %}"> &#8249;</a>
		<a class="btn btn-light" href="{% url 'annotator:index' entry.eID|add:1 %}"> &#8250;</a>
	</form>
	
	{% include "annotator/export_button.html" %}
	<button class="btn btn-circle btn-lg top-right" onclick="alert('Export Annotations only exports those that are verified.\nAnnotations entered manually and those that are uploaded via the form on the Home page are automatically verified.\nYou can verify an annotation by clicking the Verify button or by clicking the Modify button and re-submitting.\nAnnotations you don\'t want can be removed with the Delete button.');"><i class="fa fa-question-circle"></i></button>
</div>

<div id="entry-text">
	{{ entry.entry_text }}
</div>

<div>
	<form method="post" class="top-right" onsubmit="storeScrollPos()">
		{% csrf_token %}
		<button class="btn btn-primary" name="_openIE_copy"> <i class='fa fa-copy'></i> Add OpenIE as Belief Extractions </button>
	</form>

	<h2> OpenIE Extractions </h2> 
</div>

<div class="extractions">
	{% for ext in entry.extraction_set.all %}
		<span class="unselectable"> {{ forloop.counter }}) </span> 
		<span class="subject yellow-select"> {{ ext.sub_text }} </span> 
		<span class="predicate yellow-select"> {{ ext.pred_text }} </span>
		{% for arg in ext.extargument_set.all %}
			<span class="argument yellow-select"> {{ arg.arg_text }} </span>
		{% endfor %}
		<br>
	{% endfor %}
</div>

<div>
	<form method="post" onsubmit="storeScrollPos()">
	    {% csrf_token %}
	    {{ form }}
    	<input class="btn btn-primary" type="submit" name="_submit_annotation" value="Submit">
	</form>
</div>

<script type="text/javascript">
	var sourceTimer;				// timer identifier
	var beliefTimer;
	var targetTimer;
	var doneTypingInterval = 100;	// time in ms (0.1 second)
	var sourceInput = document.getElementById('id_source');
	var beliefInput = document.getElementById('id_belief');
	var targetInput = document.getElementById('id_target');

	if (sourceInput.value) {
		highlightSource(sourceInput.value);
	}
	if (beliefInput.value) {
		highlightBelief(beliefInput.value);
	}
	if (targetInput.value) {
		highlightTarget(targetInput.value);
	}

	sourceInput.addEventListener('keyup', () => {
		clearTimeout(sourceTimer);
		sourceTimer = setTimeout(highlightSource, doneTypingInterval, sourceInput.value)
	});
	beliefInput.addEventListener('keyup', () => {
		clearTimeout(beliefTimer);
		beliefTimer = setTimeout(highlightBelief, doneTypingInterval, beliefInput.value)
	});
	targetInput.addEventListener('keyup', () => {
		clearTimeout(targetTimer);
		targetTimer = setTimeout(highlightTarget, doneTypingInterval, targetInput.value)
	});

	function clearTag(elem, tag) {
		$(elem)
			.find(tag)
			.replaceWith((i, txt) => txt)
			.end()
			.html();
	}

	function getChangedText(elem_text, plain_text, str, class_name) {
		str_regex = new RegExp(str, 'i')
		match_plain = plain_text.match(str_regex);
		match_elem = elem_text.match(str_regex);
		if (!match_plain || !match_elem) {
			return null;
		}
		startIndex = elem_text.indexOf(match_elem[0])
		endIndex = startIndex + str.length
		elem_text = elem_text.substring(0, startIndex) + '<span class="' + class_name + '">' + elem_text.substring(startIndex, endIndex) + '</span>' + elem_text.substring(endIndex, elem_text.length);
		return elem_text;
	}

	function highlight(str, tag, span_class) {
		str = str.replace(/ + (?= )/g,'').trim();
		entry_text_elem = document.getElementById("entry-text");
		var orig_entry_text = entry_text_elem.innerHTML;
		clearTag(entry_text_elem, tag);
		var entry_text = entry_text_elem.innerHTML;
		var plain_entry_text = entry_text_elem.textContent;

		if (str) {
			changed_text = getChangedText(entry_text, plain_entry_text, str, span_class);
			if (changed_text) {
				entry_text = changed_text;
			} else {
				entry_text = orig_entry_text;
			}
		}
		entry_text_elem.innerHTML = entry_text;
		if (entry_text_elem.textContent.length != plain_entry_text.length) {
			entry_text_elem.innerHTML = orig_entry_text;
		}
	}

	function highlightSource(str) {
		highlight(str, '.source', 'source yellow-select');
	}
	function highlightBelief(str) {
		highlight(str, '.belief', 'belief yellow-select');
		
	}
	function highlightTarget(str) {
		highlight(str, '.target', 'target yellow-select');
	}
</script>

<div class="table">
	{% if num_annotations > 0 %}
		{% include "annotator/annotation_table.html" %}
		<!-- {% render_table table %} -->
	{% endif %}
</div>


	